
.spinner {
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  background-color: #EEE;
  border: 5px solid transparent;
  border-top: 5px solid rgb(66, 173, 187);
  border-right: 5px solid rgb(66, 173, 187);
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  -webkit-animation: loading 1s linear infinite;
  -moz-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------- */
@import "variables";

.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.site-container {
  font-size: 14px;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;
}
  .site-container .site-header {
    height: 64px;
  }
  .site-container  .site-content {
    height: calc(100vh - 65px);
    padding: 0 15px;
    overflow: auto;
  }
/* ----------------------------------------------------- */

/* .container {
  margin-top: 15%;
  width: 180%;
}
.table{
  margin-top: 70px;
} */
a,
a:hover,
a:focus,
a:active {
  color: #333;
  outline: medium none;
  text-decoration: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: medium none;
}

#ribbon {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  font-weight: 400;
  padding: 15px;
  position: fixed;
  right: -269px;
  text-align: center;
  top: -125px;
  transform: rotate(45deg);
  transform-origin: 0 0 0;
  width: 500px;
}
#ribbon	i {
    font-size: 21px;
    padding-right: 5px;
    vertical-align: middle;
  }



.dataTable-sorter::before {
    bottom: 8px;
}
.dataTable-sorter::after {
    top: 8px;
}


  .selected	td {
    background-color: #27ae60;
    color: #fff;
  }
  .name_info{
    margin-left: 40px;
    color: #1cc7f1;
  }

  .btn-back{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.btn_search2{
  margin-top: 10px;
  margin-right: 50px;
}
/* ---------------------------------------- */

.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
  top: 50%;

}

/*Modal*/
h4 {
  font-weight: bold;
  color: #fff;
}
.close {
  color: rgb(3, 3, 3);
  font-size: 20px;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  /* background-image: linear-gradient(to left bottom, #0a1423, #2b3c53, #4f6888, #7598c2, #9cccfe); */
  width: 600px;
}

.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #eee;
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}

/* ------------------------------------------------------- */


.button1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  outline: none;
  font-size: 22px;
  transition: .2s all;
  position: relative;
  cursor: pointer;
  top:15px;
  left: 980px;
  border: 2px solid #00ff00;
  color: #00ff00;
}

.button1:hover{
  transform: translateY(-10px);
  background: #00ff00;
  color: #fff;
}

.button1:active{
 transform: translate(-5px,5px);
}


.button1:before{
  content: attr(data-content);
  position: absolute;
  top: 0%;
  left: 50px;
  transform: translate(-50%,-50%);
  width: 150%;
  padding: 10px;
  font-size: 22px;
 border-radius: 10px;
 opacity: 0;
 transition: .5s all ease;
 border: 2px solid #00ff00;
}

.button1:after{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-left:8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
   transition: .5s all ease;
   border-top: 8px solid #00ff00;
}


.heading{
  font-weight: 600;
  font-size: 24px;
}


.table{
  background-color: #fff;
  width: 95%;
  margin: 15px 40px;
}

.cover{
  background-color: #fff;
  width: 84%;
  height: 100%;
  margin-left: 220px;
}

.banner-wrap{
  background-color: #fff;
  width: 84%;
  height: 80px;
  margin-left: 220px;
  margin-bottom: 10px;
}

.table th{
  background-color: rgba(218, 248, 253, 0.459);
  border-top: 1px solid #000;
}

.table tr:nth-child(even) {
  background-color: rgba(241, 239, 239, 0.726);
}

.logout{
  text-decoration: none;
  color: rgba(25, 0, 255, 0.836);
  font-size: 500;
  float: left;
}

.logout:hover{
  color: #000;
}


/* ---------------------------------------------- */

.rad-navigation {
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  background: white;
  margin-left: 230px;
  width: 82%;
  /* z-index: 10000; */
}

.links {
  margin-right: 30px;
  position: relative;
}

.links li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
}

.rad-dropmenu-item.active {
  display: block;
  -webkit-animation: flipInX .3s ease;
}

.rad-logo-container {
  width: 100%;
  margin-left: 40px;
  height: 50px;
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.rad-toggle-btn,
.rad-logo {
  text-decoration: none;
  /* position: relative; */
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 330px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #222533;
  display: inline-block;
  width: 100%;
}


.icons{
  font-size: 24px;
}


.modal-title{
  color: #fff;
  font-weight: 600;
  margin-left: 180px;
  margin-top: 20px;
}
.modal-header{
  background-color: rgb(26, 148, 255);
}
.close1{
  font-size: 25px;
  border: 1px solid black;
  float: right;
  border-radius: 50%;
  background-color: #fff;
  height: 35px;
  width: 35px;
  }
