.img{
  width: 380px;
  height: 300px;
}
.distance{
  font-size: medium;
}
.spinner {
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  background-color: #EEE;
  border: 5px solid transparent;
  border-top: 5px solid rgb(66, 173, 187);
  border-right: 5px solid rgb(66, 173, 187);
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
  -webkit-animation: loading 1s linear infinite;
  -moz-animation: loading 1s linear infinite;
  animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------- */
@import "variables";

.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
.site-container {
  font-size: 14px;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;
}
  .site-container .site-header {
    height: 64px;
  }
  .site-container  .site-content {
    height: calc(100vh - 65px);
    padding: 0 15px;
    overflow: auto;
  }
/* ----------------------------------------------------- */

/* .infoShop{
  font-weight: 600;
}

.infoShop i{
   width: 30px;
   height: 50px;
   margin: 5px;
}

.infoShop svg{
  margin: 6px;

} */

.shop_title1 h1{
  margin-left: 520px;
}
.shop_title1 h2{
  margin-left: 520px;
  color: red;
}
.shop_title1 h3{
  margin-left: 470px;
}


/* ------------------------------------------- */
.product_thumb1{
  margin-right: 10px;
}


/* ---------------------------------------------- */

figure.snip1249 {
  position: relative;
  overflow: hidden;
  /* margin-left: 10px; */
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  height: 400px;
  background: #1a1a1a;
  color: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
figure.snip1249 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1249 .image {
  position: relative;
  height: 200px;
  cursor: pointer;

}
figure.snip1249 img {
  max-width: 100%;
  vertical-align: top;
  height: 200px;
  width: 100%;
}
figure.snip1249 i {
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 32px;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
figure.snip1249 h3 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
/* figure.snip1249:before,
figure.snip1249:after {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1249:before {
  background-color: #20638f;
  -webkit-transform: skew(-45deg) translateX(-150%);
  transform: skew(-45deg) translateX(-150%);
  border-right: 1px solid #20638f;
}
figure.snip1249:after {
  background-color: #962d22;
  -webkit-transform: skew(-45deg) translateX(-175%);
  transform: skew(-45deg) translateX(-175%);
  border-right: 1px solid #962d22;
} */
figure.snip1249 figcaption {
  padding: 25px 80px 25px 25px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
  font-size: 1em;
  height: 250px;
}

figure.snip1249 figcaption h3{
  font-size: 1em;
  font-weight: 600;
}

figure.snip1249 figcaption p {
  margin-bottom: 15px;
  font-size: 1em;
  font-weight: 600;
}
figure.snip1249 figcaption svg {
  margin-bottom: 10px;
}

figure.snip1249 figcaption:before {
  width: 150px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  z-index: 1;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-color: #20638f;
  -webkit-transform: skew(-45deg) translateX(50%);
  transform: skew(-45deg) translateX(50%);
  border-right: 1px solid #20638f;
}
figure.snip1249 .add-to-cart {
  display: inline-block;
  width: auto;
  border: 2px solid #20638f;
  padding: 0.4em 0.6em;
  color: #20638f;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
}
figure.snip1249 .add-to-cart:hover {
  background-color: #20638f;
  color: #ffffff;
}
figure.snip1249 .price2 {
  position: absolute;
  color: #ffffff;
  z-index: 2;
  text-transform: uppercase;
  padding-top: 30px;
  font-weight: 800;
  padding-left: 185px;
  font-size: 1.2em;
  text-align: center;
}

/* figure.snip1249 .price2 svg {
  padding-bottom: 10px;
} */

figure.snip1249:hover i,
figure.snip1249.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip1249:hover h3,
figure.snip1249.hover h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
figure.snip1249:hover:before,
figure.snip1249.hover:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: skew(-45deg) translateX(-50%);
  transform: skew(-45deg) translateX(-50%);
}
figure.snip1249:hover:after,
figure.snip1249.hover:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: skew(-45deg) translateX(-75%);
  transform: skew(-45deg) translateX(-75%);
}



