<div *ngIf="loading$ | async" class="loading-container flex-content-center ">
  <mat-progress-spinner class="spinner"  color="primary" >

  </mat-progress-spinner>
</div>
<!-- <header class="header_area header_three">
  <div class="header_middel">
    <div class="container-fluid">
        <div class="middel_inner">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="logo">
                    <img src="assets/img/logo.png" alt="">
                </div>
              </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h3 class="d-flex justify-content-center">Thay đổi mật khẩu</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                </div>
            </div>
        </div>
    </div>
  </div>
  </header><br/> -->

  <section>
    <!-- <header>
      <nav class="rad-navigation">
        <div class="rad-logo-container">
          <div class="rad-logo">Tiểu thương</div>
        </div>
        <div class="rad-top-nav-container">
          <ul class="links">
            <li>
              <a class="rad-menu-item" href="#"><i class="fa fa-bell-o"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </section> -->

  <section>
    <header>
      <nav class="rad-navigation">
        <div class="rad-logo-container">
          <div class="rad-logo">Thay đổi mật khẩu</div>
        </div>
      </nav>
    </header>
  </section>



  <app-seller></app-seller>



  <div class="main-content text-center">
    <div class="col-md-12 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row">
          <h2>Thay đổi mật khẩu</h2>
        </div>
          <form [formGroup]="form" (ngSubmit)="updateData()" class="form-group">
            <div class="row">
              <div class="input-wrapper1">
              <input   matInput type="password" [type]="hide ? 'password' :'text'" name="username" id="username" class="form__input" placeholder="Mật khẩu cũ" formControlName="oldPassword">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <i class="material-icons errspan" matSuffix (click)="hide = !hide">
                {{hide ? 'visibility':'visibility_off'}}
              </i>
            </div>
              <div class="text-danger" *ngIf="isSubmitted && formControls.oldPassword.errors?.required">Chưa điền mật khẩu cũ</div><br />
            </div>
            <div class="row">
              <div class="input-wrapper1">
              <input type="password" name="username" id="username" class="form__input" placeholder="Mật khẩu mới" formControlName="newPassword">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </div>
            <div class="text-danger" *ngIf="isSubmitted && formControls.newPassword.errors?.required">Chưa điền mật khẩu mới</div><br />
            </div>
            <div class="row">
              <div class="input-wrapper1">
              <input type="password" name="username" id="username" class="form__input" placeholder="Xác nhận mật khẩu mới" formControlName="confirmPassword">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </div>
              <div class="text-danger" *ngIf="isSubmitted && formControls.confirmPassword.errors?.required">Chưa điền xác nhận mật khẩu</div><br />
            </div>

            <h3 class="text-danger">{{message}}</h3>
            <button type="submit" class="button type1" >Xác nhận thông tin</button>
          </form>
      </div>
    </div>
  </div>
