<!-- <section>
    <header>
      <nav class="rad-navigation">
        <div class="rad-logo-container">
          <div class="rad-logo">Trang quản lí</div>
        </div>
        <div class="rad-top-nav-container">
          <ul class="links">
            <li>
              <a class="rad-menu-item" href="#"><i class="fa fa-bell-o"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </section> -->

<aside>
  <nav class="rad-sidebar">
  <p class="title"> Trang quản lí </p>
  <p> Danh mục </p>
  <a [routerLink]="['/view-history-admin']">
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
    Quản lý hóa đơn
  </a>
  <a [routerLink]="['/show-feedback']">
    <i class="fa fa-commenting-o" aria-hidden="true"></i>
    Phản hồi từ khách hàng
  </a>
  <a (click)="logOut()">
    <i class="fa fa-power-off" aria-hidden="true"></i>
    Đăng xuất
  </a>
</nav>
</aside>
<!--
<main>
  <section>
    <div class="rad-body-wrapper">
      <img class="image" src="assets/img/Quandoan1.png">
      <div></div>
      <div class="carousel-caption d-none d-md-block">
      <h5 class="edit1" >CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
      <p class=" edit2" >Độc lập - Tự do - Hạnh phúc</p>
      </div>
  </div>
  </section>
</main>
 -->
