

<aside>
  <nav class="rad-sidebar">
  <img src="assets/img/quan1.png" class="profile"/>
  <p class="title"> Trang quản lí </p>
  <p> Danh mục </p>
  <a [routerLink]="['/view-history-admin']">
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
    Quản lý hóa đơn
  </a>
  <a [routerLink]="['/show-feedback']">
    <i class="fa fa-commenting-o" aria-hidden="true"></i>
    Phản hồi từ khách hàng
  </a>
  <a (click)="logOut()">
    <i class="fa fa-power-off" aria-hidden="true"></i>
    Đăng xuất
  </a>
</nav>
</aside>

