
<aside>
<nav class="rad-sidebar">
<img src="assets/img/quan1.png" class="profile"/>
<p class="title"> Trang quản lí </p>
<p> Danh mục </p>
<a [routerLink]="['/contract-manager']">
  <i class="fa fa-address-book-o" aria-hidden="true"></i>
  Quản lý đơn đăng kí
</a>
<a [routerLink]="['/manager-store']">
  <i class="fa fa-handshake-o" aria-hidden="true"></i>
  Cửa hàng ủy quyền
</a>
<a [routerLink]="['/phone-registration']">
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  Đăng kí tiểu thương
</a>

<a (click)="logOut()">
  <i class="fa fa-power-off" aria-hidden="true"></i>
  Đăng xuất
</a>

</nav>
</aside>
