
<app-header></app-header>
<div id="container">
    <div class="product-details">
    <h1>Chúng tôi cảm ơn bạn đã mua hàng ở chợ mùa COVID</h1>
  <p class="information"> Đơn hàng của quý khách đặt thành công. </p>
  <p class="information1"> Bạn hãy sử dụng số điện thoại mua hàng để tra cứu <a (click)="checkPhone()" class="history">đơn hàng của bạn</a>.</p>
  <div class="control">
    <button class="btn" (click)="onBack()">
     <span class="buy">Trở về trang chủ</span>
   </button>
  </div>
  </div>
  <div class="product-image">
    <img src="assets/img/thanks.jpg" alt="Omar Dsoky">
  </div>
  </div>
