
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  background: #f6f9fa;
}

h1 {
  color: #ccc;
  text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  width: 84%;
  position: relative;
  margin-left: 220px;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  /* đoạn code phân chia độ dài của nhánh */
  width:50%;
  /* -------------------- */
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.no_wrap {
  text-align:center;
  color: #0ce;
}
.link {
  text-align:center;
}


.heading{
  font-weight: 600;
  font-size: 24px;
}
/* ------------------------------------------------------ */

.rad-navigation {
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  background: white;
  margin-left: 230px;
  width: 82%;
  /* z-index: 10000; */
}

.links {
  margin-right: 30px;
  position: relative;
}

.links li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
}

.rad-dropmenu-item.active {
  display: block;
  -webkit-animation: flipInX .3s ease;
}

.rad-logo-container {
  width: 100%;
  margin-left: 40px;
  height: 50px;
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.rad-toggle-btn,
.rad-logo {
  text-decoration: none;
  /* position: relative; */
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 330px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #222533;
  display: inline-block;
  width: 100%;
}


