<!-- <header class="header_area header_three">
  <div class="header_middel">
    <div class="container-fluid">
        <div class="middel_inner">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="logo">
                    <img src="assets/img/logo.png" alt="">
                </div>
              </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h3 class="d-flex justify-content-center heading">Ý kiến của khách hàng</h3>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                </div>
            </div>
        </div>
    </div>
  </div>
  </header>
  <br>
  <br> -->
    <header>
      <nav class="rad-navigation">
        <div class="rad-logo-container">
          <div class="rad-logo">Ý kiến của khách hàng</div>
        </div>
      </nav>
    </header>

  <app-seller></app-seller>

  <div class="tab_container">
    <input id="tab1" type="radio" (click)="showProcess('processing')" name="tabs" checked>
    <label for="tab1"><i class="fa fa-paper-plane"></i><span>Đang xử lí</span></label>

    <input id="tab2" type="radio" (click)="showProcess('finish')" name="tabs">
    <label for="tab2"><i class="fa fa-check-circle"></i><span>Hoàn thành</span></label>


    <section id="content1" class="tab-content" *ngIf="isCheck['open']">
      <app-feedback-processing-seller></app-feedback-processing-seller>
    </section>

    <section id="content1" class="tab-content"  *ngIf="isCheck['processing']">
      <app-feedback-processing-seller></app-feedback-processing-seller>
    </section>

    <section id="content2" class="tab-content" *ngIf="isCheck['finish']">
      <app-feedback-done-seller></app-feedback-done-seller>
    </section>


  </div>


