<div *ngIf="loading$ | async" class="loading-container flex-content-center ">
  <mat-progress-spinner class="spinner"  color="primary" >

  </mat-progress-spinner>
</div>
  <section>
    <header>
      <nav class="rad-navigation">
        <div class="rad-logo-container">
          <div class="rad-logo">Thông tin sản phẩm</div>
        </div>
      </nav>
    </header>
  </section>

  <app-seller></app-seller>

 <div id="login" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h2>
        <button data-dismiss="modal" class="close1" (click)="closeClick()">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <app-add-product [product]="product" *ngIf="ActivateEditPromotion">
          </app-add-product>
        </form>
      </div>

    </div>
  </div>
</div>

<div id="login2" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Cập nhập sản phẩm</h2>
        <button data-dismiss="modal" class="close1" (click)="closeClick()">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <app-update-product [productID]="productID" *ngIf="ActivateEditPromotion">
          </app-update-product>
        </form>
      </div>

    </div>
  </div>
</div>

 <div class="row">
  <div class="col-md-12">
        <article class="banner-wrap">
          <div class="col-lg-10 col-md-10 col-sm-10 ">
          <div class="search-box">
            <div class="input-wrapper1">
              <input type="text" name="username" id="username" class="form__input" placeholder="Tìm tên sản phẩm"  [(ngModel)]="productNameFilter"  autocomplete="off">
              <i class="fa fa-search" aria-hidden="true"></i>
              <button class="btn btn-outline-primary btn-edit" (click)="searchProduct()"><span>Tìm kiếm</span></button>
              <button class="btn btn-outline-danger btn-edit" (click)="onReset()"><span>Đặt lại</span> </button>
            </div>
          </div>
        </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
              <button data-target="#login" data-toggle="modal" (click)="addClick()" class="button1"><i class="fa fa-plus"></i></button>
            </div>
        </article>
  </div>
</div>
<div class="cover">
<div class="row">
  <div class="col-md-12">
    <table class="table">
<thead>
  <tr>
    <th>STT</th>
    <th>Tên sản phẩm</th>
    <th>Giá (VND)</th>
    <th>Tình trạng</th>
    <th>Cập nhật sản phẩm</th>
    <th>Tình trạng sản phẩm</th>
    <th>Xóa sản phẩm</th>
  </tr>
</thead>
<tbody>
  <tr  *ngFor="let control of products | paginate: { itemsPerPage: pageSize, currentPage: pageNumber,  totalItems: total }; let i=index ">
    <td>{{control.no}}</td>
    <td >{{control.productName}}</td>
    <td >{{control.unitPrice.toLocaleString()}}</td>
    <td >
    <div *ngIf="control.isAvailable == true">
      <div class="text-primary">Còn hàng</div>
    </div>
    <div *ngIf="control.isAvailable ==false">
      <div class="text-danger">Hết hàng</div>
    </div>
  </td>
    <td ><a class="name_info"  data-target="#login2" data-toggle="modal" (click)="EditClick(control.productId)" ><i class="fa fa-arrow-circle-o-up icons" ></i></a ></td>
    <td >
        <label><input type="checkbox" class="ios-switch" [checked]="control.isAvailable" (change)="updateIsAvaiableProduct(control.productId,!control.isAvailable)" /><div><div></div></div></label>
    </td>
    <td ><a class="name_info1"  (click)="deleteClick(control.productId)"><i class="fa fa-ban icons" ></i></a ></td>

  </tr>
</tbody>
</table>

  </div>
</div>
<div class="page">
  <pagination-controls (pageChange)="pageNumber = $event" (click)="nextPage()"  align="center"></pagination-controls>
  </div>

  <button class="btn btn-outline-primary btn-edit1" (click)="downloadWord()">Hướng dẫn</button>
  <button class="btn btn-outline-primary btn-edit1" (click)="downloadExcel()">Mẫu excel</button>
  <input type="file" (change)="onChangeUploadExcel($event)" multiple="false" class="btn-edit2"/>
  <h3 class="text-danger notify">{{message}}</h3>
</div>
