
#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 3em auto;
	height: 350px;
	width: 800px;

}



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 52%;

}


#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
}


/* #container .product-details > p {
  margin-top: 50px;
  margin-left: 50px;
	font-size: 20px;
	color: #ff0000;
  font-weight: 600;
} */

/* control */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;

}

#container .product-details > .information {
  margin-top: 25px;
	font-size: 20px;
	color: #ff0000;
}

#container .product-details > .information1 {
  margin-top: 25px;
	font-size: 20px;
	color: #344055;
  line-height: 120%;
}

.history{
  text-decoration: none;
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #41a9fd;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
  opacity: 1;
}

.btn:hover{
  transform: translateY(-4px);
  opacity: .7;
  border: 1px solid black;
}

.btn span {
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;

}

.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 48%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}
