<div *ngIf="loading$ | async" class="loading-container flex-content-center ">
  <mat-progress-spinner class="spinner"  color="primary" >

  </mat-progress-spinner>
</div>

<div id="login2" class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button data-dismiss="modal" class="close" (click)="closeClick()">&times;</button>
        <form>
          <app-view-history-detail-seller [orderId]="orderId" *ngIf="ActivateEditPromotion">
          </app-view-history-detail-seller>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- <a class="logout" (click)="toBack()" ><i class="fa fa-sign-out" aria-hidden="true"></i>Trở về trang chủ</a> -->
        <article class="banner-wrap">
          <div class="search-box">
            <div class="input-wrapper1">
              <input type="text" name="username" id="username" class="form__input" placeholder="Tìm số điện thoại"  [(ngModel)]="billFilter"  autocomplete="off">
              <i class="fa fa-search" aria-hidden="true"></i>
              <button class="btn btn-outline-primary btn-edit" (click)="searchBill()"><span>Tìm kiếm</span></button>
              <button class="btn btn-outline-danger btn-edit" (click)="onReset()"><span>Đặt lại</span> </button>
            </div>
        </div>
          </article>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
<thead>
  <tr>
    <th>STT</th>
    <th>Ngày mua</th>
    <th>Tổng số tiền(VND)</th>
    <th>Tình trạng đơn hàng</th>
    <th>Đơn hàng chi tiết</th>
  </tr>
</thead>
<tbody>
  <tr  *ngFor="let dataItem of bills | paginate: { itemsPerPage: pageSize, currentPage: pageNumber,  totalItems: total }">
    <td>{{dataItem.no}}</td>
    <td>{{dataItem.order.dayBuy}}</td>
    <td>{{dataItem.order.totalPrice.toLocaleString()}}</td>
    <td>  <div *ngIf="dataItem.order.statusOrder === 'Done'">
      <span class="text-primary"><strong>Hoàn thành</strong></span>
    </div></td>

    <td ><a class="name_info"  data-target="#login2" data-toggle="modal"  (click)="addClick2(dataItem.order.orderId)"><i class="fa fa-info-circle fa-2x" ></i></a ></td>
    </tr>
</tbody>
</table>

  </div>
</div>
<div class="page">
  <pagination-controls (pageChange)="pageNumber = $event" (click)="nextPage()"  align="center"></pagination-controls>
  </div>



